.container {
  max-width: 80em;
  margin-inline: auto;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.desktop-only {
  display: none;
}

@media (width >= 80) {
  .desktop-only {
    display: initial;
  }
}