/* default */
.number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  & > label {
    color: var(--content-secondary);
    font: var(--label-medium);
    transition: all 100ms ease-in-out;  

  }  
}

.input-number {
  background-color: var(--background-secondary);
  color: var(--content-primary);
  font: var(--display-small);
  text-align: center;
  width: 5.375rem;
  height: 3.5rem;
  padding: .25rem .5rem;
  margin: 1px;
  border: none;
  border-radius: .5rem;

  transition: all 200ms ease-in-out;  
}

/* hover */
.number-wrapper:hover {
  & > label {
    color: var(--background-brand);
  }

  & > .gradient-border {
    position: relative;
    
    & .input-number {
      background: var(--background-tertiary);
    }
    
    &::before {
      content: "";
      background: var(--gradient-border);
      position: absolute;
      inset: 0;
      border-radius: .5rem;
      z-index: -1;
    }
  }
}

/* focus */
.number-wrapper:focus-within {
  & > label {
    color: var(--background-brand);
  }

  & > .gradient-border {
    position: relative;
    
    & .input-number {
      background: var(--background-tertiary);
      outline: none;
    }
    
    &::before {
      content: "";
      background: var(--gradient-border);
      position: absolute;
      inset: 0;
      border-radius: .5rem;
      z-index: -1;
    }
  }
}



