/* default */
.number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  & > label {
    color: var(--content-secondary);
    font: var(--label-medium);
    transition: all 100ms ease-in-out;  
    text-transform: uppercase;
  }  
}

/* default */
.input-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;

  background-color: var(--background-secondary);
  color: var(--content-primary);
  font: var(--display-small);
  text-align: center;
  width: 5.375rem;
  height: 3.5rem;
  padding: .25rem .5rem;
  margin: 1px;
  border: none;
  border-radius: .5rem;

  transition: all 200ms ease-in-out;
  
  & > input {
    appearance: none;
    all: unset;
    resize: none;
    field-sizing: content;
    caret-color: transparent;
  }
  
  & > img {
    display: none;
    height: 2rem;
  }
}

/* hover */
.number-wrapper:hover {
  & > label {
    color: var(--background-brand);
  }

  & > .gradient-border {
    position: relative;
    
    & .input-number {
      background: var(--background-tertiary);
    }
    
    &::before {
      content: "";
      background: var(--gradient-border);
      position: absolute;
      inset: 0;
      border-radius: .5rem;
      z-index: -1;
    }
  }
}

/* focus */
.number-wrapper:focus-within {
  & > label {
    color: var(--background-brand);
  }

  & > .gradient-border {
    position: relative;
    
    & .input-number {
      background: var(--background-tertiary);

      & > img {
        display: block;
        animation: FieldAnimation 1500ms ease-in-out infinite;
      }
    }
    
    &::before {
      content: "";
      background: var(--gradient-border);
      position: absolute;
      inset: 0;
      border-radius: .5rem;
      z-index: -1;
    }
  }
}

/* Animação para o input em foco */
@keyframes FieldAnimation {
  0%, 100% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }  
}

/* componente */
/* 
<div class="number-wrapper">
  <label for="input-number">LABEL</label>
  <div class="gradient-border">
    <label for="input-number">
      <div class="input-number">
        <input id="input-number" type="text" required  value="100" minlength="1" maxlength="3"/>
        <img src="assets/icons/animation-field.svg" alt="|">
      </div>
    </label>
  </div>
</div>
 */
