.result-random {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Quando houver mais de um elemento, o primeiro elemento é deslocado. */
  &:first-child {
    transform: translateX(50%);
    animation: MoveFirstChild 1000ms 3500ms ease-in-out forwards;
  }

  /* Se houver apenas um elemento, mantém no local. */
  &:only-child {
    transform: translateX(0);
    animation: none;
  }
}

.result-random > span {
  font: var(--bold) 4rem/1.5 var(--ff-r-mono);
  color: transparent;


  animation: 
    numberAnimate 1000ms /* 1500ms */ ease-in-out forwards, 
    numberResult 1000ms /* 3s */ ease-in-out forwards;
}

.wrapper-animate {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: -1;
  scale: 1.2;
  opacity: 0;

  width: 6.25rem;
  height: 6.25rem;
  border-radius: 1.75rem;

  background: var(--content-brand);
  animation: 
    show 1000ms 4s ease-in-out forwards, 
    rotate 2000ms 1s linear, 
    hidden 600ms 3s ease-in-out forwards;
}


@keyframes MoveFirstChild {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  } 

  40% {
    opacity: 1.1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
    transform: scale(1);
  } 

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes numberAnimate {
  0%, 100% {
    color: var(--background-primary);
    transform: scale(1.2);
  }
}

@keyframes numberResult {
  0%, 100% {
    color: var(--content-brand);
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

/* Componente */
/* 
<div class="result-random">
  <div class="wrapper-animate">
  </div>
  <span>23</span>
</div>
 */
